.wrapper, html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    margin: 0px;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: white;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {   
    display: flex; 
    justify-content: center;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul {
    list-style-type: none;
    margin-left: -35px;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* declare flexbox wrapper */
.wrapper {
    display: flex;
}
/* set up the landing page */
.parallax {
    min-height: 100%;
    flex: 0 0 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    background-image: url("../_images/skyline-night.jpg");
}
/* set up the about me section, mobile first */
.about-container {
    display: flex;
    justify-content: center;
    
    margin-top: 30px; 
}
.about {
    width: auto;
    position: absolute;
    text-align: center;
}
.name {
    font-family: 'Hind Madurai', sans-serif;
    font-size: auto;
    font-weight: 300;
    color: white;
    padding: 3px;
}
.blurb {
    font-family: 'Hind Madurai', sans-serif;
    font-size: auto;
    font-weight: 200;
    color: white;
    padding: 3px;
}
/* set up the bannner */
header[role="banner"] {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    position: fixed; 
    z-index:3;
    transition: all 0.15s ease-in-out;
    margin:0;
    padding: 0; 
    border: 0; 
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

@media screen and (max-width: 768px)  {
 
}

@media screen and (min-width:768px) {

}
/* sample content to test parallax effect */
.summary {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Hind Madurai', sans-serif;
    margin: 10px;
    text-align: center;
}
.summ_header, .projects__header {
    position: center;
    font-weight: 275;
}
.summ_text {
    font-weight: 0;
    font-size: 15px;
}

.portfolio_content {
   text-align: center;
} 
.projects__list {
    display: flex;
    flex-direction: column;
}
.project__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: #d3d3d3;
    border-bottom-width: thin;
    position:relative;
}
.project__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.project__image {
    max-width: 75%;  
}
.project__info {
    font-family: 'Hind Madurai', sans-serif;
}
.project__name {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 500;
}
.project__description, .project__tech {
    margin-bottom: 0px;
    font-size: 18px;
}
.project__repo {
    margin-bottom: 4px;
}

/* .a-tag {
    display: flex;
    justify-content: center;
} */


/* set up logo list  */
.logo-list {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}
.logo {
    height: 50px;
    margin: 2px;
}
.redux {
   padding-bottom: 4px;
}
.d3 {
   padding-top: 2px;
}
.mobile {
    margin-top: 20px;
}
.footer {
    background-color: #d3d3d3;
}
.footer__wrapper {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.icons {
    color: white;
    margin-top: -60px;
    font-size: 1.5em;
}
.footer-icons {
   color: #d3d3d3;
   font-size: 1.5em;
   margin: 2px;
   padding: 5px;
}
