<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	  <header role="banner" class="pre-scroll">
	    <div class="page-wrap clearfix">
	      <nav id="main-nav" role="navigation">
		    <ul>
					<li class>About</li>
					<li class>Portfolio</li>
				  <li class>Contact</li>
			  </ul>
		  </nav>
		</div>
	  </header>
	  <div class="wrapper">
			
			<div class="parallax">
		    <div class="about-container">
		      <div class="about">
			      <h1 class="name">UCIEL VILCHIS</h1>
			      <p class="blurb">NYC Full Stack Software Engineer</p>
			    </div>  
		    </div>
	  	</div>
			
			<div class="summary">
		    <h1>ABOUT ME</h1>
		    <p>As a kid, I used to love taking things apart to see how they worked - which was okay if you could figure out how to put them back together. That natural desire to see how things work and then do it myself went pretty well with writing code.</p>
		    <p>Each of the projects below gave me a chance to interact with new tools, frameworks and libraries.</p>
		    <p>My favorite thing about the learning process is knowing I'll have another tool in my belt for the next challenge.</p>
			</div>
			
		  <div class="portfolio_content">

	      <div class="projects__container">
		      <div class="projects__header--bg">
			      <h1 class="projects__header">P O R T F O L I O</h1>
					</div>
					
			    <div class="projects__list">
        	
						<div class="project__container">
							<a href="">
								<img class="project__image" src="/_images/uniswap-desktop.png">
							</a>
							<div class="project__info">
								<h4 class="project__name">Uniswap</h4>
								<p class="project__description">A decentralized exchange for Ethereum and ERC20 Tokens</p>
								<p class="project__tech">Tech used: React, Redux, D3</p>
								<a class="project__repo" href="https://github.com/uvilchis/uniswap-frontend">View source</a> 
								<ul class="logo-list">
									<li>
										<img class="logo" src="/_images/react-logo.png" alt="React">
									</li>
									<li class="logo">
										<img class="logo" src="/_images/redux-logo.png" alt="Redux">
									</li>
									<li>
										<img class="logo" src="/_images/d3-logo.png" alt="D3">
									</li>
								</ul>       
							</div>
					    
						</div>	  
						
						<div class="project__container">
							<a href="">
								<img class="project__image" src="/_images/api-desktop-laptop.png">
							</a>
							<div class="project__info">
								<h4 class="project__name">Uniswap API</h4>
								<p class="project__description">A custom API made for Uniswap's data visualization</p>
								<p class="project__tech">Tech used: Node.JS, GraphQL, MongoDB</p>
								<a class="project__repo" href="https://github.com/uvilchis/Uniswap-API/">View source</a>   
								<ul class="logo-list">
									<li>
										<img class="logo" src="/_images/nodej-logo.png" alt="Node.JS">
									</li>
									<li class="logo">
										<img class="logo" src="/_images/graphql-logo.png" alt="GraphQL">
									</li>
									<li class="logo">
										<img class="logo" src="/_images/mongodb-logo.png" alt="MongoDB">
									</li>
								</ul>     
							</div>
						
						</div>	
						
						<div class="project__container">
							<a href="" class="a-tag">
								<img class="project__image" src="/_images/trio.png">
							</a>
							<div class="project__info">
								<h4 class="project__name">Loco</h4>
								<p class="project__description">A crowdsourced subway status tracker</p>
								<p class="project__tech">Tech used: React-Native, Node.JS, MySQL, MongoDB, Redis</p>
								<a class="project__repo" href="https://github.com/uvilchis/loco-mobile">View source</a>  
								<ul class="logo-list">
									<li>
										<img class="logo" src="/_images/react-logo.png" alt="React-Native">
									</li>
									<li>
										<img class="logo" src="/_images/nodej-logo.png" alt="Node.JS">
									</li>
									<li>
										<img class="logo" src="/_images/mysql-logo.png" alt="MySQL">
									</li>
									<li>
										<img class="logo" src="/_images/mongodb-logo.png" alt="MongoDB">
									</li>
									<li>
										<img class="logo" src="/_images/redis-logo.png" alt="Redis">
									</li>
								</ul>      
							</div>
						  	
						</div>	

				  </div> <!-- end projects__list -->
		    </div>
			</div>
			<footer>
		    <h3>reach out to me at uciel.vilchis7@gmail.com</h3>
			</footer>
		</div>
	  </div><!-- /.container -->
	 
	</body>

</html>
